      <!-- https://stackblitz.com/edit/angular-material-login-form?file=src%2Fapp%2Flogin-form.component.ts -->
      <head> <script src="https://accounts.google.com/gsi/client" async></script></head>
      <body>
        
     
      <div class="main-div">
      <mat-card>
            <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm" >
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Username" formControlName="username">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </p>

          <!-- <p *ngIf="error" class="error">
            {{ error }}
          </p> -->

          <div class="button">
            <button class="login" type="submit" (click)="Login()" mat-button>Login</button>
            <button class="signUp" type="submit" mat-button>Sign Up</button>
          </div>
          <div class="signUp">
            <asl-google-signin-button type='standard' size='medium'>
</asl-google-signin-button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
</div>


 </body>