.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
    position: relative;
}

a {
    margin-right: 5px;
}

span {
margin-right: 15px;
}
