<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<mat-toolbar color="primary">
    @if(activeUser){
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
 
}
    <span>Moyo Business Advisory</span>
   @if(activeUser){
  <!-- <a routerLink="" mat-button >Login</a> -->
  <a routerLink="/product" mat-button >Product</a>


 
 <div style="right:25px;position: absolute;" matBadge="1" matBadgeSize="small" class="demo-section">View Orders
   <a routerLink="/order" ><i routerLink="/product"  matBadge="7" style="color: white;"  class="material-icons">shopping_cart</i></a>
   </div>
   }
 

    
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [mode]="'over'" #drawer class="sidenav" mode="side">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item >Add User</a>
      <a mat-list-item (click)="LogOut();drawer.close()" href="#">Sign Out</a>
      <!-- <a mat-list-item href="#">Link 3</a> -->
    </mat-nav-list>
  </mat-sidenav>
   <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content> 
</mat-sidenav-container>



   
   

  

