 <body>
    
 <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

  

    <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      <td mat-footer-cell class="mat-elevation-z0" *matFooterCellDef></td> 
  </ng-container> 

   <ng-container matColumnDef="button">
    <th mat-header-cell *matHeaderCellDef> Type </th>
     
   
    <td mat-cell *matCellDef="let element;let i=index"> 
 @if(userRole=='capturer') {
      <!-- <button (click)="EditProduct(element)" mat-button>Edit Product</button>  -->
      <button (click)="AssignVendor(element)" [id]="'assign-product-'+ i" mat-raised-button color="primary"  mat-button>Assign New Vendor</button>
    } @else if(userRole=='client'){
     <button (click)="PlaceOrder(element)" mat-button>Place Order</button> 
    }@else if(userRole=='vendor'){
      <button (click)="EditProduct(element,false)" mat-button>Edit Price</button> 
       <button (click)="EditProduct(element,true)"  mat-button>Edit Quantity on Hand</button> 
    }
    </td>
     <td mat-footer-cell class="mat-elevation-z0" *matFooterCellDef>

      @if(userRole=='capturer'){
<button (click)="AddProduct()" data-testid='add-product'  mat-raised-button color="primary"  mat-button>Add Product</button>
 <button style="margin-right: 5px;" mat-raised-button color="primary" (click)="AddUser()"  mat-button>Add User</button>
      }
     
      
     </td>
  </ng-container>
<!-- 
  <ng-container matColumnDef="vendor">
    <th mat-header-cell *matHeaderCellDef> Vendor </th>
    <td mat-cell *matCellDef="let element"> {{element.vendor.name}} </td>
     <td mat-footer-cell class="mat-elevation-z0" *matFooterCellDef></td>
  </ng-container>

  
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    <td mat-footer-cell class="mat-elevation-z0" *matFooterCellDef></td>
  </ng-container> --> -->

  

   

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;;let i = index"></tr>
  <tr mat-footer-row [hidden]="!showFooter" class="mat-elevation-z0" *matFooterRowDef="displayedColumns;"></tr>
</table>

<!-- figure out how to just take away elevation from footer -->
 <!-- <button (click)="AddUser()"  mat-raised-button color="primary"  mat-button>Assign Vendor</button>
 <button (click)="AddProduct()"  mat-raised-button color="primary"  mat-button>Add Product</button>
 <button (click)="AddProduct()"  mat-raised-button color="primary"  mat-button>Assign Vendor</button> -->

</body>