<h2 mat-dialog-title>Place your Order for {{product.name}}</h2>
<mat-dialog-content>
  <form [formGroup]="placeOrderForm">
  <p>Product Name</p>
  <mat-form-field>
    <mat-label>{{product.name}}</mat-label>
    <input matInput disabled="true"  />
   
  </mat-form-field>
  <br>
  <p>Enter Quantity</p>
  <mat-form-field>
    
    <mat-label>Quantity</mat-label>
     <input formControlName ="quantity"  matInput (change)="updatesubTotal($event)"   />
   
  </mat-form-field>
<br>
    <p>Total</p>
   <mat-form-field>
    
    <mat-label>No Total</mat-label>
     <input disabled="true" matInput [value]="subTotal" />
   
  </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="display: flex;justify-content: center;">
  <button  mat-button (click)="onNoClick()">No Thanks</button>
  <button [disabled]="!placeOrderForm.valid" (click)="Submit()"  mat-button cdkFocusInitial>Ok</button>
</mat-dialog-actions>
