<h2 data-testid="header" class="header" mat-dialog-title>Add User</h2>

<mat-dialog-content>
  <form [formGroup]="addUserForm">
  <p>Name</p>
  <mat-form-field>
    <mat-label></mat-label>
    <input data-testid="signup-name"  formControlName="name" matInput />
    </mat-form-field>
   <p>Type of user</p>
  <mat-form-field>
    <mat-label></mat-label>
   <mat-select formControlName="userType" data-testid="signup-user" >
    @for (usertype of userTypes; track usertype) {
      <mat-option data-testid="signup-user" [value]="usertype.name">{{usertype.name}}</mat-option>
    }
  </mat-select>
  </mat-form-field>
  
  <p>Email</p>
  <mat-form-field>
    <mat-label></mat-label>
    <input formControlName="email" data-testid="signup-email"  matInput />
  
  </mat-form-field>
  <br>
  <p>Password</p>
  <mat-form-field>
    
    <mat-label>Password</mat-label>
     <input formControlName="password" data-testid="signup-password" type="password" matInput   />
   
  </mat-form-field>
<br>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="display: flex;justify-content: center;">
  <button  mat-button (click)="onNoClick()">No Thanks</button>
  <button data-testid="signup-button" [disabled]="!addUserForm.valid"   mat-button (click)="Submit()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>





