<h2 mat-dialog-title> {{message}}</h2>
<mat-dialog-content>
  <p>Product Name</p>
  <mat-form-field>
    <mat-label>{{vendorproduct.name}}</mat-label>
    <input matInput disabled="true"  />
   
  </mat-form-field>
  <br>
  <p>Enter Price</p>
  <mat-form-field>
    
    <mat-label>Price</mat-label>
     <input matInput [disabled]="isQuantityEdit" [(ngModel)]="vendorproduct.price"  />
   
  </mat-form-field>
<p>Enter Quantity</p>
<mat-form-field>
    
    <mat-label>Quantity on Hand</mat-label>
     <input matInput [disabled]="!isQuantityEdit" [(ngModel)]="vendorproduct.quantityOnHand"  />
   
  </mat-form-field>

<br>
   
  
</mat-dialog-content>
<mat-dialog-actions style="display: flex;justify-content: center;">
  <button  mat-button (click)="onNoClick()">No Thanks</button>
  <button (click)="Submit()"  mat-button cdkFocusInitial>Ok</button>
</mat-dialog-actions>




